<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
    <h1>Enter new show!</h1>
    <form action="/success" method="post">  
        <input type="text" name="show" placeholder="Show">
        <input type="Submit" value="Submit">
    </form>

    <h1>Show list</h1>
    <table>
        <tr>
          <th>Shows</th>

        </tr>
        {% for show in shows %}
            <tr>
                <td>{{engineer["show"]}}</td>
           
            </tr>
        {% endfor %}
      </table>  
</body>
</html>